body {
    background-color:#522e20;
    text-align: center;
    background-attachment: fixed;
}

main {
  color: white;
}

header {
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
  }

#dialogue:hover {
    outline: auto;
    outline-color: white;
    outline-style: groove;
    outline-offset: -10px;
    outline-width: 10px;
  }

#nav:hover {
    outline: auto;
    outline-color: darkgray;
    outline-style: groove;
    outline-offset: -10px;
    outline-width: 5px;
  }

#sale:hover {
  opacity: 75%;
  text-decoration: none;
}

table {
    border-spacing: 0px;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

td {
  padding-bottom: 10px;
  padding-top: 10px; 
}

tr {
  outline-style: groove; 
  outline-width: thick; 
  outline-color: silver;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

section {
  outline-style: groove; 
  outline-width: thick; 
  outline-color: chocolate;
}

#wares a {
  text-decoration: none;
  display: block;
  color: inherit;
}

td:hover {
  color: black;
  text-decoration: underline;
}

button {
  border: groove;
  border-color: greenyellow;
  border-width: thick;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 50%;
}

.center:hover {
  opacity: 50%;
}